.left-col {
  height: 100vh;
  background-color: #ffe0eb;
  overflow: hidden;
  background-image: repeating-linear-gradient(
    60deg, #f9c5d1 0px,  #f9c5d1 2px, #ffffff 2px,  #ffffff 20px  
  );
}

.image-row {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portrait-img {
  width: 90%;
  max-width: 450px;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  margin: 30px;
  box-shadow: 0 8px 35px rgba(0, 0, 0, 0.2);
}

html, body {
  height: 100%;
  margin: 0;
  overflow-y: hidden;
}

.right-col {
  background: linear-gradient(135deg, #ff9a9e 0%, #fecfef 100%);
}

img.img-thumbnail {
  border: none;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.enter-btn {
  background-color: #fff;
  color: #e75480;
  border: none;
  transition: 0.3s ease;
}

.enter-btn:hover {
  background-color: #ffe0eb;
  color: #c2185b;
  transform: scale(1.05);
}

.profile-page {
  background: linear-gradient(to bottom, #c66594, #f5eeee);
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-image: repeating-linear-gradient(
    135deg, #f9c5d1 0px,  #f9c5d1 2px, #ffffff 2px,  #ffffff 20px  
  );
}

.custom-navbar {
  background: linear-gradient(135deg, #ffb6c1 0%, #ffcce0 100%);
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.custom-navbar .navbar-brand {
  font-size: 1.5rem;
  color: #ae096a !important;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.custom-navbar .nav-link {
  color: #ae096a !important;
  font-weight: 600;
  padding: 8px 15px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.custom-navbar .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff !important;
  transform: scale(1.05);
}

.circle-photo {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #ffb6c1;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.circle-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name-box {
  border: 2px solid #ff69b4; 
  border-radius: 10px;
  background-color: #fff0f5;
}

.about-box {
  background-color: #f7d9ec;
  border: 2px #ff69b4;
  border-radius: 15px;
  max-width: 700px;
  font-size: 1rem;
  line-height: 1.6;
  color: #444;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
}